spring:
  application:
    name: billing-service

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:development}

  main:
    allow-circular-references: false

  datasource:
    url: jdbc:postgresql://localhost:5433/billing_db
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

# Scheduling Configuration
spring.task.scheduling:
  enabled: true

logging:
  level:
    com.fiap.billing_service: DEBUG
    org.springframework.web: INFO
    software.amazon.awssdk: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{correlationId}] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{correlationId}] %-5level %logger{36} - %msg%n"
