apiVersion: v1
kind: Service
metadata:
  name: payment-service-svc
  namespace: payment
  labels:
    app: payment-service
spec:
  selector:
    app: payment-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30082
  type: NodePort
